#img-frame {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: 90% 0;
    background-image:url('../../assets/images/Profile.webp');
    border-radius: 50%;
    border: 2px solid var(--foreground);
    margin: auto;
}